*{
margin: 0;
padding: 0;
font-family: inherit;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: url(img.jpg);
  background-size: cover;
  background-position: center;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 100px;
  cursor: pointer;
  border-radius: 50%;
}
.navbar ul li{
  list-style-type: none;
  display: inline-block;
  margin: 0 30px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0%;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
width: 100%;
}
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffff;
}
.content h1{
  font-size: 80px;
  margin-top: 70px;
}
.content p{
  font-family: monospace;
  font-size: 40px;
  margin: 20px;
  font-weight: 100;
  line-height: 25px;
}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  counter: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}
.SocialMedia{
  display: flex;
}
.SocialMedia a{
  width: 80px;
  height: 80px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
  margin: 0 30px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.SocialMedia a .fa-brands{
  font-size: 30px;
  line-height: 80px;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}
.SocialMedia a::after{
  content: '';
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: linear-gradient(-50deg, #ed1c94, #ffec17);
  position: absolute;
  transition: 0.5s;
}
.SocialMedia a:hover::after{
  top: 0;
}
.SocialMedia a:hover .fa-brands{
  color: #fff;
}
.banner2{
  width: 100%;
  height: 100vh;
  background-image: url(bg5.jpg);
  background-size: cover;
  background-position: center;
}
.content2{
  width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffff;
}
.content2 h4{
  font-size: 40px;
  margin-top: 70px;
}
.content2 p{
  margin: 25px;
  font-weight: 80;
  line-height: 20px;
}
.banner3{
  width: 100%;
  height: 100vh;
  background-image: url(bg5.jpg);
  background-size: cover;
  background-position: center;
}
.content3{
  width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  text-align: left;
  color: #ffff;
}
.content3 h4{
  font-size: 40px;
  margin-top: 70px;
}
.content3 p{
  margin: 25px;
  font-weight: 80;
  line-height: 20px;
}
.banner4{
  width: 100%;
  height: 100vh;
  background-image: url(bg5.jpg);
  background-size: cover;
  background-position: center;
}
.row{
  color: #fff;
  height: 88%;
  align-items: center;
  text-align: center;
}
.card{
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.card1{
  background-image: url(7j.jpg);
}
.card2{
  background-image: url(5j.jpg);
}
.card3{
  background-image: url(1j.jpg);
}
.card4{
  background-image: url(4j.jpg);
}
.card:hover{
  transform: translateY(-10px);
}
.card2{
width: 200px;
height: 230px;
display: inline-block;
border-radius: 10px;
padding: 15px 25px;
box-sizing: border-box;
cursor: pointer;
margin: 10px 15px;
background-position: center;
background-size: cover;
transition: transform 0.5s;
}
.card5{
  background-image: url(1sd.jpg);
}
.card6{
  background-image: url(3d.jpeg);
}
.card2:hover{
  transform: translateY(-10px);
}
.row{
  color: #black;
  height: 88%;
  align-items: center;
  text-align: center;
}
.card3{
width: 200px;
height: 230px;
display: inline-block;
border-radius: 10px;
padding: 15px 25px;
box-sizing: border-box;
cursor: pointer;
margin: 10px 15px;
background-position: center;
background-size: cover;
transition: transform 0.5s;
}
.card10{
  background-image: url(I1.jpg);
}
.card11{
  background-image: url(F1.jpg);
}
.card3:hover{
  transform: translateY(-10px);
}
